body {
	background-color: #696969;
	font-family: Monospace;
	margin-left: 10%;
	margin-right: auto;

}

a {
	color: SlateGray;
	text-decoration: none;

}

h1	{
	color: white;
	margin-right: 30px;
	padding-bottom: 35px;

}

h2	{
	color: white;
	margin-left: 10%;

}


p 	{
	color: white;
	margin-left: 10%;
	width: 500px;
	padding-bottom: 10px;

}

.bottom	{
	color: white;
	text-align: center;
	font-style: italic;

}

IMG.middle {
	display: block;
	margin-left: 10%;
	margin-right: auto;

}

footer {
	text-align: center;
	color: white;
	margin-left: auto;

}

.infobox {
	position: fixed;
	left: 65%;
	bottom: 6em;
	z-index: 1;
	display: block;
	width: 250px;
	padding: 3px;
	margin: 20px;
	background: #424242;
	color:lightgray;
				
}

.banner_left {
	position: fixed;
	left: 0%;
	top: 0em;
	z-index: 1;
	display: block;
	height: 100%;
	width: 25px;
	padding: 11px;
	line-height: 40px;
	background: #424242;
	color:lightgray;
				
}

.social-icons  {
	position: fixed;
	padding: 1px;
	bottom: 1em;
	
	
}

/*
.graphic1 {
	position: fixed;
	left: 65%;
	top: 20em;
	z-index: -1;
	display: block;
	width: 100%;
	padding: 5px;
	margin: 30px;
	background: #424242;
	color: gray
}
*/

/*
.topbanner_shape {
	position: absolute;
	left: 30%;
	top: 2em;
	z-index: -1;
	display: block;
	width: 100%;
	padding: 5px;
	margin: 30px;
	background: #424242;
	color: gray
}
*/

/*
.infobox2 {
	position: fixed;
	left: 65%;
	top: 17em;
	z-index: 1;
	display: block;
	width: 250px;
	padding: 3px;
	margin: 20px;
	background: #424242;
	color:lightgray;

}
*/