body {
	background-color: #696969;
	font-family: Monospace, Helvetica;
	margin-left: 10%;
	margin-right: auto;

}

a {
	color: SlateGray;

}

h1	{ 
	color: white;
	margin-right: 30px;
	padding-bottom: 35px;

}

h2	{ 
	color: white;
	margin-left: 10%;
	
}


p 	{
	color: white;
	margin-left: 10%;
	width: 440px;
	padding-bottom: 10px;
	
}

.bottom	{
	color: white;
	text-align: center;
	font-style: italic;

}

IMG.middle {
	display: block;
	margin-left: 10%;
	margin-right: auto;

}

footer {
	text-align: center;
	color: white;
	margin-left: auto;

}

.infobox {
	position: absolute;
	left: 65%;
	top: 6em;
	z-index: 1;
    display: block;
    width: 250px;
    padding: 5px;
    margin: 30px;
    background: #424242;
    color: gray;

}

.infobox2 {
	position: absolute;
	left: 65%;
	top: 20em;
	z-index: 1;
    display: block;
    width: 250px;
    padding: 5px;
    margin: 30px;
    background: #424242;
    color: gray

}

/*
.infobox3 {
	position: absolute;
	left: 65%;
	top: 30em;
	z-index: -1;
    display: block;
    width: 250px;
    padding: 5px;
    margin: 30px;
    background: #424242;
    color: gray
}
*/































